{% extends "base.njk" %} {% block content %}
<section class="site-hero">
  <div class="container">
    <div class="site-about-hero">
      <h3 class="light-font">{{title | safe}}</h3>
    </div>
  </div>
</section>

<section class="site-about-section">
  <div class="container">
    <div class="grid-container about-us">
      <div class="grid-item">
        <h6>{{aboutUsTitle | safe}}</h6>
        <p>{{aboutUs | safe}}</p>
      </div>
      <div class="grid-item">
        <img src="/assets/images/about/about-us.jpg" width="450px" />
      </div>
    </div>
  </div>
</section>

<section class="site-about-section">
  <div class="container">
    <div class="grid-container">
      <div class="grid-item">
        <h6>{{vision.innovate.title}}</h6>
        <p>{{vision.innovate.text}}</p>
      </div>
      <div class="grid-item">
        <img src="{{vision.innovate.image}}" width="450px" class="rounded" />
      </div>
      <div class="grid-item">
        <img
          src="{{vision.humanPotential.image}}"
          width="350px"
          class="rounded"
        />
      </div>
      <div class="grid-item">
        <h6>{{vision.humanPotential.title}}</h6>
        <p>{{vision.humanPotential.text}}</p>
      </div>
    </div>
  </div>
</section>

<section class="site-about-section">
  <div class="container">
    <div class="section-title center">
      <h3 class="light-font uppercase center">{{valuesTitle | safe}}</h3>
    </div>
    <div class="grid-container-values">
      {% for value in values.values %}
      <div class="grid-item value">
        <img src="{{value.icon}}" class="value-icon" />
        <h6>{{value.title}}</h6>
        <p>{{value.description}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
